body{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-end;
	height: 100vh;
	width: 100%;
}

footer{
	height: 30vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.contacts{
	min-height: 30vh;
	width: 30%;
	background: url("contacte.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;

}
.contacts-opacity{
	height: 30vh;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}

.contacts-details{
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	justify-content: center;
}


.follow{
	min-height: 30vh;
	width: 25%;
	background: url("follow-us.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;

}

.follow-opacity{
	height: 30vh;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.follow-details{
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	justify-content: center;
}


.schedule{
	min-height: 30vh;
	width: 45%;
	background: url("schedule.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.schedule-opacity{
	height: 30vh;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.schedule-details{
	height: 30vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	padding-left: 30px;
	justify-content: center;
}

.orar{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 60%;
	border-bottom: 1px solid rgba(128,128,128,0.8);
	padding-bottom: 20px;
	padding-top: 20px;
}

#follow-link:visited{
	color: red;
}

.contacts ul{
	list-style-type:none;
}

.contacts ul li{
	margin:15px;
}

.fas{
	margin-right: 20px;
}